{% set quote = quote_storage.getForChannel(sylius.channel) %}
{% if quote is not empty %}
    <h2 class="ui dividing header">{{ 'sylius.ui.shop.quote.contact_header'|trans }}</h2>

    <div class="bg-white px-4 py-6 sm:px-8 sm:py-10 rounded-lg lg-down:mt-8">
        <h2 class="text-center text-4xl uppercase mb-8 font-heading">{{ 'sylius.ui.quote'|trans }}</h2>
        <div class="js-accordion mb-4">
            <div class="flex flex-wrap justify-between mb-2 font-bold">
                <p>{{ 'sylius.ui.articles'|trans({ "%nbArticles%" : quote.items|length }) }}</p>
                <p class="js-accordion-trigger cursor-pointer flex-flow-centerY">
                    <span class="underline">{{ 'sylius.ui.see_detail'|trans }}</span>
                    <i class="Icon-angle-bottom ml-2 text-2xl"></i>
                </p>
            </div>
            <div class="js-accordion-target">
                {% for item in quote.items %}
                    <p class="flex flex-wrap justify-between {{ not loop.last ? 'pb-2' : '' }}">
                        <span>{{ item.getVariant.product.name }} ( x {{ item.quantity }})</span>
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
