{% set quote = quoteContext.getQuote() %}
{% if quote.items|length > 0 %}
    <h2 class="ui dividing header">
        <a href="{{ path('asdoria_shop_quote_request_index') }}">
            {{ 'asdoria_quote_request.ui.shop.contact_header'|trans }}</a>
    </h2>
    <div class="ui styled accordion">
        <div class="title">
            <i class="dropdown icon"></i>
            {{ 'asdoria_quote_request.ui.shop.see_detail'|trans }}
        </div>
        <div class="content">
            {% for item in quote.items %}
                <div class="text">
                    {% set product = item.getVariant.product %}
                    {% if product.imagesByType('thumbnail') is not empty %}
                        {% set path = product.imagesByType('thumbnail').first.path|imagine_filter(filter|default('sylius_shop_product_thumbnail')) %}
                    {% elseif product.images.first %}
                        {% set path = product.images.first.path|imagine_filter(filter|default('sylius_shop_product_thumbnail')) %}
                    {% endif %}
                    {% if path is defined %}
                        <img class="ui avatar image" src="{{ path }}">
                    {% endif %}
                    <span class="text" >{{ item.getVariant.product.name }} ( x {{ item.quantity }})</span>
                </div><br/>
            {% endfor %}
        </div>
    </div>
    <h2 class="ui dividing header"></h2>
    {% if form.quoteTokenValue is defined %}
        {{ form_row(form.quoteTokenValue, { 'value' : quote.tokenValue}) }}
    {% endif %}
{% endif %}

